body {
    font-size: 2.5vh;
    top: 15%;
    left: 40%;
    margin: 0 auto;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: white;
    text-align: center;
    margin: 0;
}

#calculator {
    width: 93%;
    height: 100%;
    padding: 1.5vh;
}

#table{
width: 100%
}

.box {
    text-align:right;
    font-size: 4vh;
    height: 3vh;
    line-height: 3vh;
    padding: 1em;
    border: 2px solid #e68a00;
    color: white;
    border-radius: 15px;
    background-color: black;
}

#last_operation_history {
    height: 2.2vh;
    font-size: 2.2vh;
    text-align:right;
    padding-right: 1.5vh;
    color: rgb(177, 176, 176);
    background-color: black;
}

button {
    width:22vw;
    height: 22vw;
    font-weight:bold;
    font-size: 3vh;
    color: white;
    background-color: #666666;
    border-radius: 50%;
    border: 0px solid transparent;
}

#backspace_btn {
    background-image: url("../assets/back_remove.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 1.7em;
}

button:hover  {
    border: none !important;
    outline: none !important;
}

button:active  {
    background-color: #999999;
    border: none !important;
    outline: none !important;
}

.operator {
    background-color: #e68a00;
}

.operator:hover {
    background-color: #ffd11a;
}

#equal_sign {
    width: 100%;
    border-radius: 15px;
}
